chromadb==1.0.8
diagrams==0.24.4
fastparquet
graphviz==0.20.3
ipywidgets
ipykernel==6.29.5
isodate==0.7.2
Jinja2
jupyter
jupyter-summarytools
matplotlib
openai==1.76.0
pandas==2.2.3
pyarrow
pydantic==2.11.3
pydantic-ai==0.1.4
pydantic-graph==0.1.4
scipy
seaborn
tenacity==9.1.2
tqdm==4.67.1
